
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongwujiaoxing:before { content: "\e62d"; }

.icon-shiwujiaoxing:before { content: "\e634"; }

.icon-shezhi:before { content: "\e6c9"; }

.icon-shouye:before { content: "\e6cb"; }

.icon-iconfontgerenzhongxin:before { content: "\e645"; }

.icon-zan1:before { content: "\e64e"; }

.icon-biaoshilei_bendi:before { content: "\e608"; }

.icon-lipei:before { content: "\e620"; }

.icon-zuoyeanjian:before { content: "\e63d"; }

.icon-toubao:before { content: "\e614"; }

.icon-yingyong:before { content: "\e658"; }

.icon-tiaocha:before { content: "\e61c"; }

.icon-yingyong1:before { content: "\e7b7"; }

.icon-jiesuan:before { content: "\e602"; }

.icon-jiaofei:before { content: "\e64c"; }

